@font-face {
  font-family: GothamRounded;
  font-style: normal;
  font-weight: normal;
  src: url('GothamRnd-Book.otf') format('opentype');
}
@font-face {
  font-family: GothamRounded;
  font-style: normal;
  font-weight: 500;
  src: url('GothamRnd-Medium.otf') format('opentype');
}
@font-face {
  font-family: GothamRounded;
  font-style: normal;
  font-weight: 700;
  src: url('GothamRnd-Bold.otf') format('opentype');
}
