/* This contains styles under a media rule that is only used for mobile devices,
applied after the main index.css stylesheet.*/

@media (max-width: 900px){
  #about > div {
    flex-direction: column-reverse;
    align-items: center;
  }
  .about-info {
    width: 85vw;
  }
  #sf-chron-title {
    width: 76vw;
    height: 16vw;
    padding: 2vw 0 2vw 4vw;
    top: calc(52vw - 20vw);
    margin-right: 0;
    max-width: none;
  }
  #sf-chron {
    width: 80vw;
    height: 52vw;
    margin-bottom: 5vmin;
  }
  #sf-chron-title h4 {
    width: 70vw;
    font-size: 3.4vw;
  }
  #sf-chron-title p {
    font-size: 3.8vw;
  }
}
