:root {
  --site-width: 40rem;
  --side-padding: calc((100vw - var(--site-width)) / 2);
  --avatar-image-height: 6rem;
  --vw: 1vw;
  --card-background: #98a6bc;

  color: #303030;
  background-color: #e4fdfd;
  font-family: Montserrat;
  text-align: center;
}

/* element styling */
a {
  color: white;
}
body {
  margin: 0;
}

/* major classes */
.flex-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: var(--site-width);
}

/* individual section styles */
#logo {
  height: 8rem;
}
#header {
  margin: 0;
  background-image: linear-gradient(to bottom, #c8e9ff, #cceffe, #d3f4fd, #dbf9fd, #e4fdfd);
  padding: 5vmax;
  height: calc(70vmin - 10vmax);
}
#header h1 {
  width: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
  margin: 0;
  left: 50%;
  top: 35%;
  color: rgba(35, 35, 35, 0.6);
  font-family: 'Raleway', sans-serif;
  font-size: 14vmin;
}
#header p {
  position: absolute;
  width: 80vmin;
  transform: translate(-50%, -50%);
  margin: 0;
  left: 50%;
  bottom: 34%;
  font-size: 4vmin;
  background-color: #6db7ed;
  border: 1vmin solid #689fca;
  color: #303030aa;
  height: 8vmin;
  line-height: 8vmin;
}
#about {
  width: 80vw;
  margin: auto;
  padding: 5vw;
  padding-top: 1vmin;
  background-color: #3333330c;
  border-radius: 4vmax;
  margin-bottom: 20vh;
}
#about h3 {
  grid-column-end: span 2;
  font-size: 8vmin;
  font-weight: lighter;
  color: rgba(35, 35, 35, 0.8);
}
.about-info {
  font-size: 3vmin;
  width: 45%;
}
#about > div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}
#sf-chron-article {
  width: 40%;
  height: fit-content;
  align-self: center;
}
#sf-chron-title {
  display: block;
  max-width: 50vw;
  word-wrap: break-word;
  margin: 2vmin auto;
  color: rgba(35, 35, 35, 0.8);
}
#sf-chron {
  width: 100%;
  height: auto;
  margin: auto;
}
#team {
  background-color: #191f2b;
  padding: 0.5rem;
}
.staff-member {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0.5rem;
  text-decoration: none;
  background-color: var(--card-background);
  padding: 1.5em;
  border-radius: 10%;
}
.staff-image {
  border-radius: 50%;
  height: var(--avatar-image-height);
}
.name {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  font-size: 1.25rem;
}
.title {
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
  max-width: var(--avatar-image-height);
  text-decoration: none;
}
.sponsor {
  margin-top: 0;
}
.sponsor-image {
  width: 20vw;
  height: auto;
  margin: 2vw;
}
#faq {
  background-color: #191f2b;
  padding: 5rem;
}
.faq-question {
  list-style-type: none;
  background-color: var(--card-background);
  padding: 1em;
}
.social {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.social-icon-svg {
  height: 2rem;
  color: white;
}
footer {
  padding: 2rem 2rem;
  background-color: #374047;
}
