#header {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: Montserrat;
  font-size: 7vmin;
  width: 100%;
  text-align: center;
  color: #fff;
}
#header h2 {
  font-size: 6vmin;
}
body {
  background-color: #09365e;
}
h4 {
  color: #09365e;
}
