@font-face {
  font-family: GothamRounded;
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/gotham-rounded/GothamRnd-Book.otf') format('opentype');
}
@font-face {
  font-family: GothamRounded;
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/gotham-rounded/GothamRnd-Medium.otf') format('opentype');
}
@font-face {
  font-family: GothamRounded;
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/gotham-rounded/GothamRnd-Bold.otf') format('opentype');
}

@font-face {
  font-family: Mercury;
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/mercury/Mercury-TextG1Roman.woff') format('woff');
}
